/* Reset styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  overflow: hidden;
  background-color: #082B5E;
}

#table {
  width: 100%;
  height: 100%; /* Subtract the height of the top bar */
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#user-column,
#jobsite-column {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: white;
}

#user-column {
  padding-left: 280px;
  width: 30%;
  height: 100% - 60px; /* Subtract the height of the top bar */
  margin-top: 60px;
}

#jobsite-column {
  width: 70%;
  height: 100% - 60px; /* Subtract the height of the top bar */
  margin-top: 60px;
}

#user-search-input {
  width: 100% - 1px;
  margin: 1px;
  font-size: 16px;
  position: sticky;
  top: 0;
}

#jobsite-search-input {
  width: 100% - 1px;
  margin: 1px;
  font-size: 16px;
  position: sticky;
  top: 0;
}

.user-item {
  flex: 0 0 auto; /* Prevent items from shrinking or stretching */
  text-align: center;
  width: 100%; /* Ensure items take the full width of the column */
  height: 50px; /* Fixed height for each item */
  background-color: white;
}

.user-item.odd {
  background-color: rgb(230, 230, 230); /* Light gray for odd items */
}

.jobsite-item {
  font-size: 25px;
  flex: 0 0 auto; /* Prevent items from shrinking or stretching */
  text-align: center;
  border-bottom: #000 solid 1px;
  width: 100%; /* Ensure items take the full width of the column */
  height: 200px; /* Fixed height for each item */
  background-color: white;
}

.jobsite-item button {
  margin: 10px;
}

.jobsite-item h4 {
  margin-bottom: 75px;
  font-size: 20px;
}

.jobsite-item.assigned {
  background-color: rgb(120, 250, 120);
}

.user-item:hover {
  background-color: darkgray;
  cursor: pointer;
}

/* Logo Container */
.logo-container {
  /*width: 100%;*/
  text-align: center; /* Center the logo horizontally */
  margin-bottom: -50px;
}
  
.logo-container img {
  width: 150px;
  height: auto;
}

.logout-button {
  background-color: #104B91;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.sidebar-content {
  width: 100%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.sidebar ul li {
  margin: 10px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #ccc;
}


select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

button {
    background-color: rgb(16, 75, 145);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
button:hover {
    background-color: #082B5E;
}

/* Logo styling */
.logo-container {
  width: 100%;
  text-align: center;
  margin-bottom: -50px;
}


@media (max-width: 768px) {
  #user-column {
    padding:0px;
  }
}

/* Top Bar Styles */
#top-bar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: rgb(16, 75, 145);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 500;
}

#top-bar .profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.user-item.selected {
  background-color: darkgray; /* a light gray highlight */
  font-weight: bold;
}