<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Worker Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="static/assets/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="static/css/workerStyle.css">
  <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}" async defer></script>
  <script src="static/js/sidebar.js"></script>
  <script src="static/js/workerMap.js"></script>
  <script src="static/js/worker.js"></script>
  <link rel="stylesheet" href="static/css/sidebar.css">
</head>
<body>
<!-- Top Bar -->
<div id="top-bar">
  <a href="/workerProfile">
      <img id="currentPfp" 
      src="{{ url_for('routes.get_profile_picture', user_id=session['user']['UUID']) }}" 
      data-user-id="{{ session['user']['UUID'] }}"
      alt="Profile Picture" 
      class="profile-icon">
  </a>
</div>

  <!-- Sidebar Navigation -->
  <div id="sidebar" class="sidebar">
    <button id="toggleSidebar" class="toggle-btn">☰</button> <!-- Sidebar Toggle Button -->
      <!-- Starr Electric Logo -->
  <div class="logo-container">
    <a href="https://www.starrelectric.net/" target="_blank">
      <img src="static/assets/starrwhitelogo.png" alt="Starr Electric Logo">
    </a>
  </div>

    <div class="sidebar-content">
      <h2>Navigation</h2>
      <ul>
        <li><a href="workerMainPage">Home</a></li>
        <li><a href="workerJobsitesPage">Jobsites</a></li>
        <li><a href="/workerhelp">Help</a></li>
      </ul>


      <!-- Jobsite Selection Form -->
      <div class="form-container">
        <label for="workerJobsitesView">Choose a jobsite:</label>
        <select id="workerJobsitesView" name="workerJobsitesView">
          <!-- Dynamically populated via JavaScript -->
        </select>
        <button type="button" onclick="jobsiteSelected()">Go to Jobsite</button>
        <button type="button" onclick="goToUserLocation()">Go to My Location</button>
      </div>
      
      <!-- Logout Button inside the Sidebar -->
      <form action="/logoutButtonClicked" method="POST" onsubmit="return confirmLogout()">
        <button type="submit" class="logout-button">Logout</button>
      </form>
    </div>
  </div>

  <!-- Content Wrapper -->
  <div class="content-wrapper">
    <!-- Google Maps -->
    <div id="map"></div>

  </div>
</body>

</html>
