<!DOCTYPE html>
<html>

<head>
  <title>Starr Electric Company, Inc. | Electrical Contractor | United States</title>
  <link rel="stylesheet" href="static/css/index.css">
  <link rel="icon" href="static/assets/favicon.ico" type="image/x-icon"/>
  <script src="static/js/login.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="logo-container">
    <a href="https://www.starrelectric.net/" target="_blank">
      <img src="static/assets/starrwhitelogo.png" alt="Starr Electric Logo">
    </a>
  </div>

  <div class="nav">
    <a href="\index">Main</a>
    <a href="\about">About us</a>
    <a href="https://github.com/SCCapstone/8BitWarriors">Github Repo</a>
  </div>
<a></a>
  <h1>About Us</h1>
  <ul class="authors">
    <li><a>Spencer Philips</a><a href="https://www.linkedin.com/in/spencer-philips-1abbb5269">[LinkedIn]</a></li>
    <li><a>Robert Allen (RJ)</a><a href="https://www.linkedin.com/in/rj-allen-9278441a2/">[Linkedin]</a></li>
    <li><a>Dillon McLaughlin</a><a href="https://www.linkedin.com/in/dillon-mclaughlin-514bb4334">[LinkedIn]</a></li>
    <li><a>Myles Carter</a><a href="https://www.linkedin.com/in/myles-carter-380591251">[LinkedIn]</a></li>
    <li><a>Timothy Alexander</a><a href="https://www.linkedin.com/in/timmyalexander/">[LinkedIn]</a></li>
  </ul>

  <h1>If want to check out the App</h1>
  <div class="login">
    <a href="\login">Click Here</a>
  </div>
</body>
</html>