<!DOCTYPE html>
<html>

<head>
  <title>Starr Electric Company, Inc. | Electrical Contractor | United States</title>
  <link rel="stylesheet" href="static/css/index.css">
  <link rel="icon" href="static/assets/favicon.ico" type="image/x-icon"/>
  <script src="static/js/login.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="logo-container">
    <a href="https://www.starrelectric.net/" target="_blank">
      <img src="static/assets/starrwhitelogo.png" alt="Starr Electric Logo">
    </a>
  </div>
  

      <div class="nav">
        <a href="\index">Main</a>
        <a href="\about">About us</a>
        <a href="https://github.com/SCCapstone/8BitWarriors">Github Repo</a>
      </div>
<a></a>
  <div class="demo-video">
    <h1>Demo video</h1> 
      <div class="video">
        <iframe width="600px" height="300px" src="https://www.youtube.com/embed/xbP2lGQQMPQ" title="Capstone Video Milestone" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <a href="https://www.youtube.com/watch?v=xbP2lGQQMPQ">(Click here for video in case it doesnt show)</a>
      </div>
  </div>
  <h1>Instructions</h1>
  <h2>Sign in or Sign Up</h2>
  <ol>
    <li><a>Create a Account(If you are a worker make sure Worker Type is Worker. If you are a project manager set worker type as Project Manager)</a></li>
    <li><a>Sign in with your account</a></li>
  </ol>
  <h2>If you are a worker</h2>
  <ol>
    <li><a>Choose a jobsite on the side bar</a></li>
    <ol> 
      <a>Two things to keep note of:</a>
      <li><a>If your are using this app on your mobile phone the press the 3 line button on the top right</a></li>
      <li><a>You will see jobsites if you are assigned to them by the project managers</a></li>
    </ol>
  <li><a>Press the Go to Jobsite button you will see the jobsite location on the map and your location</a></li>
    <img src="static/assets/mainpage1.png" alt="Home Page Example" class="help-image">
  </ol>

  <h2>If you are a project Manager</h2>
  <ol>
    <li>Add a jobsite(Enter the name description latitude and longitude(OR double click the map to place a marker), and enter how big you want the radius)</li>
    <img src="static/assets/addJobsitePage.jpeg" alt="Home Page Example" class="help-image">
    <li>You can view it, remove or edit the jobsite however you want</li>
    <img src="static/assets/landingPage.jpeg" alt="Home Page Example" class="help-image">
    <li>Assign a worker</li>
    <ul>
      <li>Now Workers can see the assign jobsite on the map and project manager can see them by pressing the view button on jobsite card</li>
      <li>on the time card page when they are in or out of the jobsite radius they will be clock-in/clock-out</li>
    </ul>
    <img src="static/assets/assignWorker.jpeg" alt="Home Page Example" class="help-image">
  </ol>

  <p>The reason we made this app is to help Starr electric company have a way to manage workers and allow them to clock into jobsite by just entering for convience and accuracy.</p>
  <h1>If want to check out the App</h1>
  <div class="login">
    <a href="\login">Click Here</a>
  </div>
</body>
</html>